<div class="index-container" data-controller="search">
  <div class="form-container">
    <%= form_with(url: search_path, method: "get", local: true, class: "search-form") do |f| %>
      <div class="field has-addons">
        <p class="control">
          <span class="select">
            <%= f.select(
              :provider,
              options_for_select(
                ImageSearchController::PROVIDER_OPTIONS,
                @provider
              )
            ) %>
          </span>
        </p>
        <div class="control image-search-input-container">
          <%= f.text_field(
            :q,
            value: @query,
            class: "input image-search-input",
            placeholder: "Search for an image by keyword...",
            autocomplete: "off",
            autofocus: "true",
            type: "search",
            data: { "search-target": "searchInput" }
          ) %>
        </div>
        <div class="control">
          <button class="button is-info" type="submit" data-disable-with="Search" data-action="click->search#loading">
            <span class="search-button-small">
              <%= fa_icon("search", class: "fas") %>
            </span>
            <span class="search-button-large">Search</span>
          </button>
        </div>
      </div>
    <% end %>
  </div>

  <div class="loader-wrapper" data-search-target="loaderWrapper">
    <div class="loader is-loading"></div>
  </div>

  <div class="image-results-container">
    <%= render(partial: 'image_search/image', collection: @images, as: :image) %>
  </div>
</div>
